<div class="col-lg-6">
  <h1>Über diese Webseite</h1>
  <p>
    Diese Seite wurde erstellt durch einen Unterstützer (und langjährigen Teilnehmer)
    des Grand Prix Bern mit der Motivation, die Resultate von verschiedenen Teilnehmern und
    verschiedenen Austragungsjahren einfacher vergleichbar zu machen.
    Alle Teile dieser Webseite laufen auf einem einzigen
    <a href="https://www.raspberrypi.org/products/raspberry-pi-2-model-b/">Raspberry Pi 2</a>,
    weshalb einige Performancelimitierungen zu erwarten sind.
  </p>
  <p>
    Zur Zeit sind nur die Läufer des 10 Meilen Laufs durchsuchbar.
  </p>
  <p>
    Alle genutzten Daten sind öffentlich zugänglich auf der offiziellen Webseite des
    <a href="http://www.gpbern.ch">Grand Prix Bern</a>.
  </p>
  <p>
    Haben Sie Fragen oder Anregungen? Wir freuen uns über Ihr
   <%= link_to 'feedback', new_feedback_path %>.
  </p>
</div>