<div class="col-lg-6">
  <h1>About this page</h1>
  <p>
    This page was created by a supporter (and runner) of the Grand Prix Bern
    as an effort to allow easier comparing results of different runners and different run years.
    The whole stack for this website is running on a
    <a href="https://www.raspberrypi.org/products/raspberry-pi-2-model-b/">Raspberry Pi 2</a>,
    so some performance issues are to be expected.
  </p>
  <p>
    At the time of writing, only the runners of the 10 Mile run are searchable.
  </p>
  <p>
    All data contained is accessible publicly on the official home page of the
    <a href="http://www.gpbern.ch">Grand Prix Bern</a>.
  </p>
  <p>
    Do you have questions or any kind of feedback? Please
    <%= link_to 'reach out', new_feedback_path %> to us.
  </p>

</div>