<div class="btn-group btn-group-justified col-lg-12" role="group">
  <% @lat_lng_weights.each do |year, _| %>
    <a class="btn btn-default select-year"
            id="year-<%= year %>"
            onclick="toggleHeatmap(<%=year%>)">
      <%= year %>
    </a>
  <% end %>
</div>
<div id="map" class="col-lg-12" style="height: 500px"></div>
<script type="text/javascript">
  var map;
  var heatmap;
  const heatmapData = {};
  const rawHeatmapData = <%= @lat_lng_weights.to_json %>;
  const yearsAvailable = rawHeatmapData.map(function(arr) {
    return arr[0];
  })
  let displayedYear = yearsAvailable[0];

  function initMap() {
    // Datastructure that holds heatmap data.
    // { year1: [p1, p2, p3, ..], year2: [p1, p2, p3] }
    rawHeatmapData.forEach(function(arr) {
      heatmapData[arr[0]] =
          arr[1].map(function(arr) {
            p = {location: new google.maps.LatLng(arr[0], arr[1])};
            p.weight = arr[2]; //Math.log(arr[2]);
            return p
          });
    });
    // Map with style defined in assets initialized with Bern centered.
    MAPS_STYLE.center = new google.maps.LatLng(46.955117, 7.441560);
    map = new google.maps.Map(document.getElementById('map'), MAPS_STYLE);
    heatmap = new google.maps.visualization.HeatmapLayer({
      map: map,
      radius: 50,
      data: heatmapData[displayedYear],
    });
  }
  function toggleHeatmap(year) {
    heatmap.setData(heatmapData[year]);
    $('.select-year').removeClass('active')
    $('#year-' + year).addClass('active')
  }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?libraries=visualization&key=AIzaSyATumct5s89DG_XeTg1UsYRYJW3BDAnPtc&callback=initMap">
</script>
