<div id="map" class="col-lg-12" style="height: 600px"></div>
<script type="text/javascript">
  var map;

  function initMap() {
    var heatmapData = <%= lat_long_weights_to_js(@lat_long_weights) %>;
    // Map initialized with Bern centered.
    var center = new google.maps.LatLng(46.955117, 7.441560);
    map = new google.maps.Map(document.getElementById('map'), {
      center: center,
      zoom: 8,
      maxZoom: 14,
      minZoom: 6,
      styles: [
        {
          "featureType": "administrative.locality",
          "elementType": "all",
          "stylers": [
            {
              "hue": "#2c2e33"
            },
            {
              "saturation": 7
            },
            {
              "lightness": 19
            },
            {
              "visibility": "on"
            }
          ]
        },
        {
          "featureType": "landscape",
          "elementType": "all",
          "stylers": [
            {
              "hue": "#ffffff"
            },
            {
              "saturation": -100
            },
            {
              "lightness": 100
            },
            {
              "visibility": "simplified"
            }
          ]
        },
        {
          "featureType": "poi",
          "elementType": "all",
          "stylers": [
            {
              "hue": "#ffffff"
            },
            {
              "saturation": -100
            },
            {
              "lightness": 100
            },
            {
              "visibility": "off"
            }
          ]
        },
        {
          "featureType": "road",
          "elementType": "geometry",
          "stylers": [
            {
              "hue": "#bbc0c4"
            },
            {
              "saturation": -93
            },
            {
              "lightness": 31
            },
            {
              "visibility": "simplified"
            }
          ]
        },
        {
          "featureType": "road",
          "elementType": "labels",
          "stylers": [
            {
              "hue": "#bbc0c4"
            },
            {
              "saturation": -93
            },
            {
              "lightness": 31
            },
            {
              "visibility": "on"
            }
          ]
        },
        {
          "featureType": "road.arterial",
          "elementType": "labels",
          "stylers": [
            {
              "hue": "#bbc0c4"
            },
            {
              "saturation": -93
            },
            {
              "lightness": -2
            },
            {
              "visibility": "simplified"
            }
          ]
        },
        {
          "featureType": "road.local",
          "elementType": "geometry",
          "stylers": [
            {
              "hue": "#e9ebed"
            },
            {
              "saturation": -90
            },
            {
              "lightness": -8
            },
            {
              "visibility": "simplified"
            }
          ]
        },
        {
          "featureType": "transit",
          "elementType": "all",
          "stylers": [
            {
              "hue": "#e9ebed"
            },
            {
              "saturation": 10
            },
            {
              "lightness": 69
            },
            {
              "visibility": "on"
            }
          ]
        },
        {
          "featureType": "water",
          "elementType": "all",
          "stylers": [
            {
              "hue": "#e9ebed"
            },
            {
              "saturation": -78
            },
            {
              "lightness": 67
            },
            {
              "visibility": "simplified"
            }
          ]
        }
      ]
    });

    var heatmap = new google.maps.visualization.HeatmapLayer({
      data: heatmapData
    });
    heatmap.setMap(map);
    heatmap.set('radius', 30);
  }

</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?libraries=visualization&key=AIzaSyATumct5s89DG_XeTg1UsYRYJW3BDAnPtc&callback=initMap">
</script>
