<h1>Timeline of the number of participants</h1>
See how the number of participants changed over the last few years.

<div id="participant_chart" style="width:100%; height:300px;"></div>
<%= high_chart("participant_chart", @chart) %>

<h2>Number of participants split by age</h2>

When splitting the participants by age, it becomes apparent that some ages have
become more prevalent. Some years ago, the majority of participants was still
between 40 and 60 years old. These days, most participants are between 20 and
40 years old.

Only the participants aged 60-80 show a continous upwards trajectory.

<div id="participants_by_age_chart" style="width:100%; height:400px;"></div>
<%= high_chart("participants_by_age_chart", @participants_by_age_chart) %>
