<h1>
  Course
</h1>
<p>
  The <em>Grand Prix Bern</em> leads through Bern's Old Town, a UNESCO World
  Heritage Site. On the 10 Miles (16.093 km) through the city the runnres pass
  all of Bern’s key attractions:
  <ul>
    <li>
      Bear Pit (Bärengraben)
    </li>
    <li>
      Clock Tower (Zytglogge)
    </li>
    <li>
      Bern's city hall
    </li>
    <li>
      Federal Palace
    </li>
    <li>
      Bern Minster
    </li>
  </ul>
</p>
