<div class="row">
  <div class="col-lg-6">
    <h1>
      Laufstrecke
    </h1>
    <p>
      Die Laufstrecke des GP Bern führt über 10 Meilen (16.093 km)
      mitten durch die gemütliche Altstadt von Bern. Dabei kommt man an fast jeder
      wichtigen Berner Sehenswürdigkeit vorbei:
      <ul>
        <li>
          Bärengraben
        </li>
        <li>
          Zytglogge
        </li>
        <li>
          Rathaus
        </li>
        <li>
          Bundeshaus
        </li>
        <li>
          Münster
        </li>
      </ul>
    </p>
    <p>
      Nach 6 Kilometern überqueren die Läufer die Dalmazibrücke und
      rennen dann der Aare entlang bis zum Tierpark Dählhölzli. Dort geht es durch
      den Wald hinauf zum Kirchenfeldquartier, wo schon die zweite Hälfte
      des Laufs anfängt.
    </p>

    <p>
      Auf den nächsten Kilometern macht die Strecke einen Schlenker ins Monbijouquartier
      und kehrt dann zurück in die Altstadt. Am Schluss warted noch das
      <em>pièce de résistance</em>: Der Aargauerstalden. Hier geht es noch etwa 50
      Höhenmeter hoch bevor man den letzten Kilometer erreicht. Die Endorphine vom
      Aufstieg tragen die Läufer noch über die letzten Meter ins Ziel.
    </p>
  </div>
  <div class="col-lg-6">
    <div class="embed-responsive embed-responsive-4by3">
      <iframe src="https://www.google.com/maps/d/embed?mid=19LozqWm6kkU8EG5wcdM3k7BzOueuZQbn"
        frameborder="0" style="border:0"
        class="embed-responsive-item">
      </iframe>
    </div>
  </div>
  <div class="col-lg-10 col-lg-offset-1">
    <%= image_tag image_path('Laufstreckenprofil_GP_2018_crop.png'), class: 'img-responsive', alt: 'Laufstreckenprofil GP Bern' %>
  </div>
</div>
