<div class="row">
  <div class="col-lg-6">
    <%= render 'content' %>
  </div>
  <div class="col-lg-6">
    <div class="embed-responsive" style="height: 100%">
      <iframe src="https://www.google.com/maps/d/embed?mid=19LozqWm6kkU8EG5wcdM3k7BzOueuZQbn"
        frameborder="0" style="border:0"
        class="embed-responsive-item">
      </iframe>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-10 offset-lg-1">
    <%= image_tag image_path('Laufstreckenprofil_GP_2018_crop.png'), class: 'img-fluid', alt: 'Laufstreckenprofil GP Bern' %>
  </div>
</div>
