<div class="row">
  <div class="col-lg-6">
    <%= render 'content' %>
  </div>
  <div class="col-lg-6">
    <div class="embed-responsive embed-responsive-4by3">
      <iframe src="https://www.google.com/maps/d/embed?mid=19LozqWm6kkU8EG5wcdM3k7BzOueuZQbn"
        frameborder="0" style="border:0"
        class="embed-responsive-item">
      </iframe>
    </div>
  </div>
  <div class="col-lg-10 col-lg-offset-1">
    <%= image_tag image_path('Laufstreckenprofil_GP_2018_crop.png'), class: 'img-responsive', alt: 'Laufstreckenprofil GP Bern' %>
  </div>
</div>
