<div id="mean_duration_chart" style="width:100%; height:500px;"></div>
<%= high_chart("mean_duration_chart", @chart) %>

<div id="min_duration_chart" style="width:100%; height:500px;"></div>
<%= high_chart("min_duration_chart", @min_duration_chart) %>


<div id="participant_chart" style="width:100%; height:500px;"></div>
<%= high_chart("participant_chart", @participant_chart) %>
